@import 'react-notifications-component/dist/theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar для Google Chrome */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffb74d, #ff5722);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 6px;
}

.shadow-text {
  text-shadow: -1px -1px 0 #8400ff, 1px 1px 0 #ff005a;
}

@layer base {
  * {
    @apply transition-colors duration-500 ease-in-out;
  }
}

/* Применяются для любых отрендеренных данных из Quill */
.quill-content .ql-editor {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(text-base-grey-09);
}

/* Для цитат */
.quill-content .ql-editor blockquote {
  color: var(--base-grey-08);
  background-color: var(--base-grey-02);
  border-left: 4px solid var(--base-orange-03);
  margin: 1.5em 0;
  padding-left: 1em;
}

/* Для блоков кода */
.quill-content .ql-editor pre {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background-color: var(--base-grey-02);
  color: var(--base-grey-08);
  padding: 8px;
  border-radius: 4px;
  overflow-x: auto;
}
